
.BarraDeBusqueda {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
  padding: 2rem;
  background-color: #0f172a;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.input-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.search-input {
  width: 50%;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #1e293b;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  outline: none;
}

.search-input::placeholder {
  color: #94a3b8;
}

button {
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #2563eb;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  margin-left: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  flex-grow: 1;
}

button:last-child {
  margin-left: 1rem;
}

button:hover {
  background-color: #3b82f6;
}

@media screen and (max-width: 768px) {
  .barraDeBusqueda {
    padding: 1.5rem;
  }

  .input-buttons-wrapper {
    flex-direction: column;
  }

  .search-input {
    width: 100%;
    margin-bottom: 1rem;
  }

  button {
    width: 100%;
    margin-left: 0;
    margin-bottom: 1rem;
  }

  button:last-child {
    margin-bottom: 0;
  }
}