.boton {
  background-color: rgb(12, 110, 153);
  border-radius: 20px;
  color: white;
  padding: 1.5vw 3vw;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  margin: 0;
  cursor: pointer;
  box-shadow: 5px 8px 12px black;
  position: absolute;
  transform: translateX(-50%);
  bottom: 50%;
  left: 35%;
}

.boton:hover {
  background-color: rgb(10, 132, 193);
  color: white;
  transition: 0.5s;
}

.imagen {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;
}

.container {
  position: relative;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.h1 {
  position: absolute;
  right: 10px;
  left: 10px;
  color: white;
  top: 2%;
  font-size: 2.5vw;
}

@media screen and (max-width: 768px) {
  .boton {
    font-size: 0.8rem;
    padding: 1vw 2vw;
  }

  .h1 {
    font-size: 4vw;
  }
}